* { 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    position: relative;
}
.slideshow{
    background-image: url('./img/traveler.jpg');
    background-size: cover;
    background-position: 25% 40%;
    background-repeat: no-repeat;
    height: 99vh;
    position: relative;
}

.booking{
    background-color: white;
    width: 90%;
    left: 0;
    right: 0;
    top: 36rem;
    margin: auto;
}

@media (min-width:768px) {
    .booking {
        top: 42rem;
    }
    .blank{
        min-height: 25vh;
    }
}
@media (min-width:1024px) {
    .booking {
        top: 65rem;
    }
}
@media (min-width:1200px) {
    .booking {
        top: 30rem;
        width: 80%;
    }
    .top-routes{
        margin-top: 25rem;
    }
}
@media (min-height: 736px) and (max-width:414px){
    .top-routes{
        margin-top: -3rem;
    }
    .promoImg{
        margin: -1rem auto;
    }
} 
@media (min-height:667px) and (max-width:375px){
    .top-routes{
        margin-top: 0rem;
    }
    .promoImg{
        margin: -1rem auto;
    }
}
@media (min-height:812px) and (max-width:375px){
    .top-routes{
        margin-top: -20rem;
    }
    .promoImg{
        margin: -1rem auto;
    }
}
/* @media (min-width:1024px) {
    .booking {
        transform: translate(-67%, -25%);
    }
}
 */

h2,h3,h4{
    font-family: 'montserrat';
}
.toggleBtn{
    position: absolute;
    top: 7px;
    right: 1rem;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background: white;
    z-index: 5;
}

.book-a-seat{
    flex: 2;
    font-size: 14px;
}

.active{
    background-color: rgba(226, 29, 0, 0.05);
    border-bottom: 2px solid red;
}