body{
    position: relative;
}
.slideshow{
    background-image: url('./img/traveler.jpg');
    background-size: cover;
    background-position: 25% 40%;
    background-repeat: no-repeat;
    height: 99vh;
    position: relative;
}

.booking{
    background-color: white;
    position: absolute;
    width: 92%;
    margin-left: 1rem;
    margin-right: 2rem;
    top: 35rem;
}

.toggleBtn{
    position: absolute;
    top: 7px;
    right: 1rem;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background: white;
    z-index: 5;
}

.book-a-seat{
    flex: 2;
    font-size: 14px;
}

.active{
    background-color: rgba(226, 29, 0, 0.05);
    border-bottom: 2px solid red;
}